* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    max-width: 1230px;
}

.header-inner {
    padding: 0 40px;
    display: flex;
    align-items: center;
}

.header-ttl {
    color: #222;
    font-size: 32px;
    font-weight: bold;
}

.header-nav {
    margin-left: auto;
}

.header-nav-list {
    display: flex;
}

.header-nav-item:not(:first-child) {
    margin-left: 40px;
}

.header-nav-item-link {
    display: block;
    color: #222;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
}

svg.w-5.h-5 {
    /*paginateメソッドの矢印の大きさ調整のために追加*/
    width: 30px;
    height: 30px;
}

main {
    background-color: #f4f4f4;
    max-width: 1230px;
    text-align: center;
}

table {
    width: 90%;
    margin: auto;
}

tr {
    text-align: center;
    justify-content: space-between;
    border-top: 1px solid #888;

}

th {
    padding: 25px;
}

td {
    padding: 25px;
}

.pagination {
    justify-content: center;
}

.page-item {
    display: inline-block;
}

footer {
    max-width: 1230px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}